Marcas/XML/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>

      
        <xs:element name="elemento">
          <xs:complexType>

            <xs:sequence>
              <xs:element name="hijo" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="atributo"></xs:attribute>

          </xs:complexType>
        </xs:element>

        
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>